@import url('https://font.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    background: linear-gradient(90deg, #414345, #232526);
}

a{
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(90deg, #A6FFCB, #12D8FA, #1FA2FF);
}

a:nth-child(2){
    background: linear-gradient(90deg, #FFEDBC, #ED4264);
}

span{
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}
